$body-bg:                           #EEF2F9;
$body-color:                        #707090;

$color-gray:                        #B7BEC7;
$color-gray-hover:                  #8c97a6;



$theme-colors: (
        "primary":      #9EA7FC,
        "danger":       #ff4136,
        "succes":       #80D5CA,
        "orange":       #FFA66B,
        "dark-gray":    $body-color,
        "gray":         $color-gray,
        "light-gray":   rgba(255, 255, 255, 0.5),
        "purple":       #8690DB
);


$dropdown-link-color:       $body-color;