$color-bg:                          #EEF2F9;
$body-color:                        #707090;



$theme-colors: (
        "primary":      #9EA7FC,
        "danger":       #ff4136,
        "succes":       #80D5CA,
        "orange":       #FFA66B,
        "dark-gray":    $body-color,
        "gray":         #B7BEC7,
        "light-gray":   rgba(255, 255, 255, 0.5)
);


$dropdown-link-color:       $body-color;