@import 'mixins/flexbox';

$color-gray:                #B7BEC7;
$color-gray-dark:           #707090;
$color-blue:                #9EA7FC;
$color-bg:                  #EEF2F9;
$color-bg-2:                rgba(255, 255, 255, 0.5);
$color-green:               #82C786;
$color-rose:                #E57373;
$color-orange:              #FF9784;
$color-white:              #FFFFFF;

html{
    height: 100%;
}
html, body{
    min-height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#root, .app{
    min-height: 100vh;
    background-color: $color-bg;
}
.navbar{
    background: linear-gradient(90deg, #9EA7FC 0%, #65B6F7 124.87%);
    position: relative;
    padding-left: 0;
    text-align: center;
    min-height: 60px;

    .form-control::-webkit-input-placeholder {
        color: #FFFFFF;
    }
}
.navbar-brand{
    position: absolute;
    height: 100%;
    max-width: 120px;
    width: 100%;
    background: rgba(50, 50, 93, 0.2);
    margin: 0;
    padding: 0;
    line-height: 1;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}
.navbar-collapse{
    @include justify-content(space-between);
    margin-left: 120px;
    width: 100%;
}

.side-menu{
    width: 100%;
    max-width: 120px;

    .nav-item{
        &.active{
            border-left: 3px solid $color-blue;
        }
    }

    .nav-link{
        color: $color-gray;
        padding: 30px 10px;
    }
}
.board-container{
    color: $color-gray-dark;
}
.board-1, .board-2, .board-3, .board-4{
    background-color: $color-bg-2;
    max-width: 280px;
    width: 100%;
}
.board-1{
    border-top-color: $color-rose !important;
}
.board-2{
    border-top-color: $color-orange !important;
}
.low-priority{
    background-color: $color-blue;
    display: inline-block;
    font-size: .85rem;
}
.med-priority{
    background-color: $color-green;
    display: inline-block;
    font-size: .85rem;
}
.high-priority{
    background-color: $color-rose;
    display: inline-block;
    font-size: .85rem;
}
.border-top-3{
    border-top-width: 3px !important;
}
.card-icon{
    height: 2.2rem;
}
.form-add-new-task{
    max-width: 400px;
}

.back-button{
    bottom: -50px;
    right: 0;
}






